// .event-details__form__bottom {
//   position: absolute;
//   top: 71px;
//   right: 0px;
//   z-index: 3;
//   button.clr-grey {
//     display: none;
//   }
// }

// @include md {
//   .event-details__form__bottom {
//     top: 4px;
//     right: 32px;
//     button.clr-grey {
//       display: inline-block;
//     }
//   }
// }

.event-details {
  &__container {
    transition: transform 0.3s $ease-in-out-cubic;
    transform: translateY(0);
    padding: 20px;
    &--hidden {
      transform: translateY(-345px);
    }
  }
}
.event__address--link {
  position: relative;
  z-index: 10000;
}
