.slick {
  &-slider {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  &-track {
    padding: 0 10px !important;
  }
  &-prev:before,
  &-next:before {
    color: black;
  }
  @include sm-only {
    &-next {
      right: 0;
    }
    &-prev {
      left: 0;
    }
    &-slide {
      min-width: 150px;
    }
  }
}

.slide-header {
  display: flex;
  // flex-direction: column;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
  padding: 20px 0;
}

// .slick-prev:before, .slick-next:before {
//   color: black;
// }
// .slick-track {
//   padding: 0 20px !important;
// }
// .slick-slider {
//   margin-bottom: 20px;
// }
// @include sm-only {
//   .slick-next {
//     right: 0;
//   }
//   .slick-prev {
//     left: 0;
//   }
//   .slick-slide {
//     min-width: 150px;
//   }
// }