.filter {
  &__section {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    p {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
    }
    justify-content: center;
    flex-direction: column;
  }
  &__link {
    margin: 0 5px;
    color: $color-gray;
    text-decoration: none;
    &--active {
      color: $color-purple;
    }
  }
  @include md {
    &__section {
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      p {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
      }
    }
  }
}