.table {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  user-select: none;
  margin: 150px 0;
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    // @include md {
      // width: 50rem;
    // }
    @include lg {
      width: 60rem;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
      width: 100%;
      margin: 0 2rem;
      margin-top: 4rem;
      padding: 0 3rem;
      // @include md {
      //   // padding: 0 1rem;
      //   // width: 50rem;
      // }
      // @include lg {
      //   // width: 60rem;
      // }
    }
    &__text {
      margin: 0;
      padding: 0;
      font-weight: 400;
    }
  }
  @include md {
    align-items: center;
  }
}

table {
  position: relative;
  width: 100%;
}

thead tr {
  display: none;
}

th {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  padding: 1.5rem 1rem;
  color: $color-purple;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  &:nth-last-of-type(1) {
    text-align: center;
    font-size: 1.5em;
  }
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    i {
      padding-left: 0.5rem;
    }
  }
}

td {
  position: relative;
  font-weight: 500;
  color: $color-purple;
  font-size: 0.9rem;
  padding: .75rem;
  border-bottom: none;
  width: 100%;
  text-align: center;
  &:nth-child(4) {
    &:before {
      content: "Load In: "
    }
  }
  &:nth-child(5) {
    &:before {
      content: "Show Time: "
    }
  }
}

tr {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $card-shadow-1;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  padding: 20px 0;
  margin-bottom: 25px;
  td {
    &:nth-last-of-type(1) {
      // text-align: right;
      padding: 0 1rem;
      text-align: center;
    }
  }
}

tr:hover {
  box-shadow: $card-shadow-1-hover;
}

tbody:hover>tr td {
  // opacity: 0.5;
}

tbody:hover>tr:hover td {
  text-shadow: none;
  color: #fff;
  background: $color-purple;
  opacity: 1;
  i {
    color: $color-light;
  }
}

@include md {
  .table {
    margin: 175px 0;
    td {
      width: auto;
      text-align: left;
      color: $color-dark;
      border-bottom: 1px solid #e0e0e0;
      padding: 1.5rem 1rem;
      &:nth-child(4) {
        &:before {
          content: ""
        }
      }
      &:nth-child(5) {
        &:before {
          content: ""
        }
      }
    }
    thead tr {
      display: table-row;
    }
    tr {
      // position: relative;
      display: table-row;
      box-shadow: none;
      padding: 0;
      margin-bottom: 0;
      td {
        &:nth-last-of-type(1) {
          // text-align: right;
          // padding: 0 1rem;
        }
      }
    }
  }
}