/*
Error: Invalid CSS after "$color1: #1abc9c": expected "{", was ";"
        on line 7 of src/styles/scss/components/tabs.scss

2: // transition all s cubic-bezier(0.23, 1, 0.32, 1)
3: // align()
4: // display flex
5: // align-items center
6: // justify-content center
7: $color1: #1abc9c;
8: $color2: #e74c3c;
9: $color3: #3498db;
10: $color4: #F4D03F;
11: $color5: #9b59b6;
12: $color6: #bdc3c7;

Backtrace:
src/styles/scss/components/tabs.scss:7
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:1137:in `expected'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:665:in `block'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/plugin.rb:109:in `method_missing'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/bin/sass:23:in `load'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/bin/sass:23:in `<main>'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/bin/ruby_executable_hooks:15:in `eval'
/Users/michaelmaio/.rvm/gems/ruby-2.2.4/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$color1: #1abc9c\": expected \"{\", was \";\"\A         on line 7 of src/styles/scss/components/tabs.scss\A \A 2: // transition all s cubic-bezier(0.23, 1, 0.32, 1)\A 3: // align()\A 4: // display flex\A 5: // align-items center\A 6: // justify-content center\A 7: $color1: #1abc9c;\A 8: $color2: #e74c3c;\A 9: $color3: #3498db;\A 10: $color4: #F4D03F;\A 11: $color5: #9b59b6;\A 12: $color6: #bdc3c7;"; }
