$color-dark: #121F27;
$color-grey: #BBBBBB;
$color-light: #FFFFFF;
$color-red: #E46F65;
$color-purple: #7F4FE1;
$color-purple-dark-gradient-vertical: linear-gradient($color-purple, $color-dark);
$color-purple-dark-gradient-diagonal: linear-gradient(135deg, $color-purple, $color-dark);