html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}
@import './variables/_colors.scss';
@import './variables/_breakpoints.scss';
@import './app';
@import './pages/landing';
@import './pages/form-page';
@import './pages/login';
@import './pages/register';
@import './components/header';
@import './components/hero';
@import './components/input';
@import './components/carousel';