* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}
@import './variables/_colors';
@import './variables/_breakpoints';
@import './variables/_animations';
@import './app';
@import './layouts/layout';
@import './pages/landing';
@import './pages/form-page';
@import './pages/login';
@import './pages/register';
@import './components/header';
@import './components/hero';
@import './components/input';
@import './components/carousel';
@import './components/table';
@import './components/dropdown';
@import './components/drawer';
@import './components/button';
@import './components/create-gig';
@import './components/modal';
@import './components/no-content';
@import './components/calendar';