body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 50px;
  text-shadow: 2px 2px #222;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(150, 150, 150, 0.5); }
  .header .logo, .header__menu {
    color: #7F4FFF;
    display: inline-block; }

/*Strip the ul of padding and list styling*/
ul.header__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 5px; }

/*Create a horizontal list with spacing*/
li {
  display: inline-block;
  margin-right: 1px; }

/*Style for menu links*/
li a {
  display: block;
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-decoration: none; }

/*Hover state for top level links*/
li:hover a {
  background: #7F4FFF; }

/*Style for dropdown links*/
li:hover ul a {
  background: #f3f3f3;
  color: #2f3036; }

/*Hover state for dropdown links*/
li:hover ul a:hover {
  background: #7F4FFF;
  color: #fff; }

/*Hide dropdown links until they are needed*/
li ul {
  display: none; }

/*Make dropdown links vertical*/
li ul li {
  display: block;
  float: none; }

/*Prevent text wrapping*/
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px; }

/*Display the dropdown on hover*/
ul li a:hover + .hidden,
.hidden:hover {
  display: block; }

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #7F4FFF;
  text-align: center;
  padding: 10px;
  display: none; }

/*Hide checkbox*/
input[type=checkbox] {
  display: none; }

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
  display: block; }

/*Responsive Styles*/
@media screen and (max-width: 760px) {
  /*Make dropdown links appear inline*/
  ul {
    padding: 0;
    position: absolute;
    width: 100%;
    top: 74px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #7F4FFF;
    display: none;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: display 5s, opacity 0.1s linear; }

  ul.show {
    visibility: visible;
    opacity: 1; }

  /*Create vertical spacing*/
  li {
    margin-bottom: 20px; }

  /*Make all menu links full width*/
  ul li,
  li a {
    width: 100%; }

  /*Display 'show menu' link*/
  .show-menu {
    display: block;
    font-size: 1.25em;
    transform: rotate(90deg); } }
@media (min-width: 1025px) {
  .header {
    justify-content: center; }
    .header .logo {
      text-shadow: 2px 2px #222;
      position: absolute;
      left: 25px;
      top: 5px; } }
.login__container {
  background: linear-gradient(135deg, #7F4FFF, #121F27);
  color: #FFFFFF;
  height: 100vh;
  width: 100%; }

.register__container {
  background: linear-gradient(135deg, #7F4FFF, #121F27);
  color: #FFFFFF;
  height: 100vh;
  width: 100%; }

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-shadow: 2px 1px #222; }
  .hero__slogan {
    font-size: 2em;
    background-color: transparent;
    color: #FFFFFF;
    text-align: center; }
  .hero__login__container {
    width: 60%;
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 2; }
  .hero__login__reminder, .hero__login__link {
    color: #FFFFFF;
    font-size: 1.25rem; }

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .carousel [class^=carousel__controller__nav--] {
    color: white;
    cursor: pointer;
    width: auto;
    font-size: 30px;
    height: 100%; }
    .carousel [class^=carousel__controller__nav--]:hover {
      color: #000; }
  .carousel__img {
    width: 100%;
    height: 100%; }
  .carousel__slide {
    left: 0;
    position: relative;
    background: transparent;
    height: 100%;
    transition: left 1s linear; }
    .carousel__slide-item {
      height: 100%;
      float: left; }
  .carousel__controller, .carousel__controller__nav {
    box-sizing: border-box;
    height: auto;
    left: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 50%; }
  .carousel__controller__nav--right {
    float: right; }
  .carousel__controller__nav--left {
    float: left; }
  @media (min-width: 1025px) {
    .carousel [class^=carousel__controller__nav--] {
      visibility: hidden; }
    .carousel:hover [class^=carousel__controller__nav--] {
      visibility: visible; }
      .carousel:hover [class^=carousel__controller__nav--]:hover {
        color: #000; } }

/*# sourceMappingURL=index.css.map */
